<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        
        <meta name="viewport" content="width=device-width initial-scale:1.0"/>
        <meta charset="utf-8"/>
        <!-- Google Fonts import -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
        
        <!-- Search Icon import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        <title>about</title>
    </head>
    
    <body >
        
        <nav id="navbar" class="navbar">
            
            <button onclick="window.history.back()" class="link link-back">
                <i class="fa fa-angle-left"></i>
            </button>
    
            <div class="nav-logo">
                <p>
                    <a href="./">CineSearch</a>
                </p>
            </div>
            <div class="nav-about">
                <p>
                    <a href="./about">About</a>
                </p>
            </div>
            
        </nav>
        <h1 style="font-size: xx-large;text-align: center;">About us...</h1>
        <div>
            <h2 style="font-size: x-large;text-align: center;">CineSearch</h2>
            <p style="font-size: medium;text-align: center; margin: 3%;">CineSearch is a premier online destination for movie enthusiasts, offering a comprehensive and user-friendly platform to explore the world of cinema. Whether you're a casual viewer or a film connoisseur, CineSearch provides a vast database of movies, TV shows, and documentaries from around the globe, meticulously cataloged and easily searchable.

                One of the standout features of CineSearch is its detailed filmographies, where you can find extensive information on actors, directors, writers, and other industry professionals. Each profile includes biographies, film credits, awards, and interesting trivia, giving users a deep dive into the careers and contributions of their favorite film personalities.
                
                CineSearch also excels in delivering up-to-date news and articles about the film industry. From the latest box office hits and upcoming releases to in-depth reviews and thought-provoking editorials, the website keeps its users informed and engaged with the latest trends and discussions in cinema.
                
                The website’s user reviews and ratings system allows moviegoers to share their opinions and insights, fostering a community of film lovers who can recommend and debate their favorite titles. This feature not only helps users discover new films but also provides diverse perspectives that enrich the viewing experience.
                
                For those who enjoy lists and recommendations, CineSearch offers curated lists, such as top-rated movies in various genres, must-watch classics, and hidden gems. These lists are regularly updated, ensuring that users always have fresh and exciting options to explore.
                
                CineSearch’s intuitive interface and powerful search functionality make it easy to find exactly what you're looking for. Whether you’re searching by title, genre, year, or even specific keywords, the platform quickly delivers precise results, saving users time and effort.
                
                Additionally, CineSearch features a calendar of upcoming releases and film festivals, ensuring that users never miss out on important cinematic events. The site also includes trailers, exclusive interviews, and behind-the-scenes content, providing a holistic and immersive experience for its audience.
                
                In summary, CineSearch is a go-to resource for anyone passionate about movies and TV shows. With its extensive database, insightful content, and vibrant community, it stands out as a top-tier platform for discovering and celebrating the magic of cinema.</p>
        </div>
        <hr style="margin-left: 5%; margin-right: 5%;">
        <div>
            <h2 style="font-size: x-large;text-align: center;">MADE BY</h2>
            <p style="font-size: medium;text-align: center;">Nikolai und Simon (Testing and Debuging by LeonHTM) </p>
        </div>
    </body>
</html>
