<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        
        
        <!-- Google Fonts import -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
        
        <!-- Search Icon import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width initial-scale:1.0"/>
        <meta charset="utf-8"/>
        
        <title>Fehler</title>
        
    </head>
    <body>
        <nav id="navbar" class="navbar">
            
            <button onclick="window.history.back()" class="link link-back">
                <i class="fa fa-angle-left"></i>
            </button>
    
            <div class="nav-logo">
                <p>
                    <a href="./index.html">CineSearch</a>
                </p>
            </div>
            <div class="nav-about">
                <p>
                    <a href="./about.html">About</a>
                </p>
            </div>
            
        </nav>
        <div style="font-size: large;text-align: center;">

            <h1 style="font-size: xx-large;">Oops! We couldn't find a match.</h1>
            <p>It looks like we couldn't find any movies that match your search criteria. Please try the following:</p>
            <ul>Check for any typos in the movie title.</ul>
            <ul>Use different keywords or broader terms.</ul>
            <ul>Try searching for another movie.</ul>
            <p>Still having trouble? Contact our support team for assistance.</p>
        </div>
    
  
       
        
        
        
        

    </body>
</html>
