<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        
        <!-- Google Fonts import -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
        
        <!-- Search Icon import -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <meta name="viewport" content="width=device-width initial-scale:1.0"/>
        <meta charset="utf-8"/>
        <title>Startseite</title>
    </head>
    
    <body>
        
        <!-- NAV HEADER -->
        <nav id="navbar" class="navbar">
            
            <button onclick="window.history.back()" class="link link-back">
                <i class="fa fa-angle-left"></i>
            </button>
    
            <div class="nav-logo">
                <p>
                    <a herf="./index.html">CineSearch</a>
                </p>
            </div>
            <div class="nav-about">
                <p>
                    <a  href="./about.html">About</a>
                </p>
            </div>
            
        </nav>
        
        <div class="searchbar">
            
            <form action="/search?q=">
                <input type="text" placeholder="Film oder so.." name="q">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            
        </div>
        
        <!--

        <h1 class="header-recommendations header">Our Recommendations:</h1>
        
        <div class="recommendations">
            
            <a class="movie-tile" href="" target="_blank">
                <img class="movie-image" alt="" src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b"/>
                <p class="movie-tile-subtitle">Movie name</p>
            </a>
            
            <a class="movie-tile" href="" target="_blank">
                <img class="movie-image" alt="" src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b"/>
                <p class="movie-tile-subtitle">Movie name</p>
            </a>
            
            <a class="movie-tile" href="" target="_blank">
                <img class="movie-image" alt="" src="https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b"/>
                <p class="movie-tile-subtitle">Movie name</p>
            </a>
        </div>
        -->
        
    </body>
</html>
