*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    color: black;
    font-family: "Jaro", sans-serif;
    font-weight: 400;
}

.navbar {
    width: auto;
    height: 6vw;
    background-color: gray;
    margin-bottom: 1vw;
}

.nav-logo {
    display: flex;
    justify-content: center;
    padding: 1vw 0 1vw 0;
    font-size: 3vw;
}

.nav-logo a {
    text-decoration: none;
    color: white;
}

.searchbar {
    display: flex;
    justify-content: center;
    
}

.searchbar input[type=text] {
  padding: 6px;
  border: dashed;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}