*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    color: black;
    font-family: "Jaro", sans-serif;
    font-weight: 400;
}

.navbar {
    width: auto;
    height: 6vw;
    background-color: gray;
    margin-bottom: 1vw;
}

.nav-logo {
    display: flex;
    justify-content: center;
    padding: 1vw 0 1vw 0;
    font-size: 3vw;
}

.nav-logo a {
    text-decoration: none;
    color: white;
}

.searchbar form {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.searchbar input[type=text] {
    padding: 6px;
    border: 2px solid gray;
    font-size: 17px;
}

.searchbar button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}